<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginCtl</servlet-name>
  	<display-name>LoginCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.ctl.LoginCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WelcomeCtl</servlet-name>
  	<display-name>WelcomeCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.ctl.WelcomeCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetMarksheetCtl</servlet-name>
  	<display-name>GetMarksheetCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.ctl.GetMarksheetCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MarksheetMeritListCtl</servlet-name>
  	<display-name>MarksheetMeritListCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.ctl.MarksheetMeritListCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MarksheetListCtl</servlet-name>
  	<display-name>MarksheetListCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.ctl.MarksheetListCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RoleCtl</servlet-name>
  	<display-name>RoleCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.ctl.RoleCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CollegeCtl</servlet-name>
  	<display-name>CollegeCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.ctl.CollegeCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CollegeListCtl</servlet-name>
  	<display-name>CollegeListCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.ctl.CollegeListCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RoleListCtl</servlet-name>
  	<display-name>RoleListCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.ctl.RoleListCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserCtl</servlet-name>
  	<display-name>UserCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.ctl.UserCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserRegistrationCtl</servlet-name>
  	<display-name>UserRegistrationCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.ctl.UserRegistrationCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserListCtl</servlet-name>
  	<display-name>UserListCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.ctl.UserListCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentListCtl</servlet-name>
  	<display-name>StudentListCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.ctl.StudentListCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentCtl</servlet-name>
  	<display-name>StudentCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.ctl.StudentCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MarksheetCtl</servlet-name>
  	<display-name>MarksheetCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.ctl.MarksheetCtl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginCtl</servlet-name>
  	<url-pattern>/LoginCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WelcomeCtl</servlet-name>
  	<url-pattern>/WelcomeCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetMarksheetCtl</servlet-name>
  	<url-pattern>/GetMarksheetCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MarksheetMeritListCtl</servlet-name>
  	<url-pattern>/MarksheetMeritListCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MarksheetListCtl</servlet-name>
  	<url-pattern>/MarksheetListCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RoleCtl</servlet-name>
  	<url-pattern>/RoleCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CollegeCtl</servlet-name>
  	<url-pattern>/CollegeCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CollegeListCtl</servlet-name>
  	<url-pattern>/CollegeListCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RoleListCtl</servlet-name>
  	<url-pattern>/RoleListCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserCtl</servlet-name>
  	<url-pattern>/UserCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserRegistrationCtl</servlet-name>
  	<url-pattern>/UserRegistrationCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserListCtl</servlet-name>
  	<url-pattern>/UserListCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentListCtl</servlet-name>
  	<url-pattern>/StudentListCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentCtl</servlet-name>
  	<url-pattern>/StudentCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MarksheetCtl</servlet-name>
  	<url-pattern>/MarksheetCtl</url-pattern>
  </servlet-mapping>
  
   <welcome-file-list>
 <welcome-file>index.jsp</welcome-file> 
 </welcome-file-list>
 
 <error-page>
<error-code>404</error-code>
<location>/jsp/ErrorView400.jsp</location>
</error-page>
</web-app>
